﻿@model MvcWebRole.Models.WallViewModel
@{
    Layout = null;
}

<div id="wallContainer">
    @Html.Partial("_WallPartial")
</div>
<div id="bottomLoading" class="collapse"><i class="fa fa-spinner"></i>&nbsp;Loading...</div>
<div id="noMorePosts" class="collapse"><i class="fa fa-info-circle"></i>&nbsp;No more posts.</div>
