﻿@model MvcWebRole.Models.WallViewModel
@{
    ViewBag.Title = "Home";
}

<h2>Main Wall</h2>

@Html.Partial("_WallContainer")

@section scripts
{
    <script type="text/javascript">
        initWall("@Url.Action("WallPartial")");
    </script>
}
