﻿@model MvcWebRole.Models.RequestStatsViewModel
@{
    ViewBag.Title = "RequestStats";
}

<h2>Request Chart Generation</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.VKUserPageUrl)
        @Html.TextBoxFor(m => m.VKUserPageUrl, new { @class = "form-control", placeholder = "https://vk.com/durov" })
    </div>
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    <button type="submit" class="btn btn-primary">Request</button>
}
