﻿@model MvcWebRole.Models.RequestStatsResultViewModel
@{
    ViewBag.Title = "RequestStatsSuccess";
}

<h2>Success</h2>

@if (Model.Private)
{
    <div>We're processing your request. The result will be available on @Html.ActionLink("your private wall", "Index", "Wall") soon.</div>
}
else
{
    <div>We're processing your request. The result will be available on the @Html.ActionLink("main wall", "Index", "Home") soon.</div>
}
