﻿@using VKStats.Domain.Entity
@model MvcWebRole.Models.WallListViewModel
@{
    Layout = null;
}
    
@foreach (var record in Model.Records)
{
    if (record.Type == WallRecordType.Default)
    {
        <div>
            <div class="avatar-container">
                <img src="@record.AvatarUrl" />
            </div>
            <div>
                <h4>@record.PersonName</h4>
                <a href="@record.MostPopularPostUrl" target="_blank"><i class="fa fa-external-link"></i>&nbsp;Most popular post</a>
            </div>

            <div class="chart-container">
                <img class="chart" src="http://vkstats.blob.core.windows.net/@record.ChartUrl" />
            </div>
        </div>
    }
    else if (record.Type == WallRecordType.Warning)
    {
        <div class="alert alert-warning">
            @record.Message
        </div>
    }
    else if (record.Type == WallRecordType.Error)
    {
        <div class="alert alert-danger">
            @record.Message
        </div>
    }
}

@if (Model.LastPostId != 0)
{
    <script type="text/javascript">
        window.wallLastPostId = @Model.LastPostId;
    </script>
}
